__pycache__/
*.pyc
.ipynb_checkpoints/
data/raw/
data/processed/
/.dvc/
!.dvc
*.dvc
# DVC: ignore only cache and temp, but track the .dvc metadata directory
.dvc/cache/
.dvc/tmp/

# Ensure DVC metadata files are tracked
!.dvc/config
!.dvc/.gitignore
