# Ignore Python artifacts
__pycache__/
*.pyc
.ipynb_checkpoints/

# Ignore raw and processed data directories (managed by DVC)
data/raw/
data/processed/

```
# Ignore only DVC cache and temp files
.dvc/cache/
.dvc/tmp/

# Do not ignore .dvc/ itself so Git can track metadata

# Track DVC pipeline files
*.dvc
```

